#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <behaviors/runtime_macro.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
	runtime_macro_defaults {
		rmacro_default_0 {
			compatible = "cormoran,runtime-macro-default";
			macro-name = "Hi";
			text = "hi";
		};

		rmacro_default_1 {
			compatible = "cormoran,runtime-macro-default";
			macro-name = "Bindings";
			bindings = <&macro_press &kp LSHFT>
				 , <&macro_tap &kp A>
				 , <&macro_release &kp LSHFT>
				 , <&macro_wait_time 5>
				 , <&macro_tap &kp B>;
		};

		/* Encodes to well over CONFIG_ZMK_RUNTIME_MACRO_MAX_BYTES (256 by
		 * default, see tests/dt-defaults/native_sim.conf): install_one_default's
		 * own fixed-size encode buffer runs out of room mid-encode. This must be
		 * skipped with a clear log at boot, without crashing and without
		 * preventing the other defaults (already declared above) from
		 * installing. */
		rmacro_default_2 {
			compatible = "cormoran,runtime-macro-default";
			macro-name = "Oversized";
			text = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
			&rmacro 0
			&rmacro 1
			&kp C
			&kp D
			>;
		};
	};
};

&kscan {
	events = <
	ZMK_MOCK_PRESS(0,0,10)
	ZMK_MOCK_RELEASE(0,0,10)
	ZMK_MOCK_PRESS(0,1,10)
	ZMK_MOCK_RELEASE(0,1,10)
	>;
};
